.card__overlay-title {
  align-self: flex-end;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 4px 8px;
  background-color: rgba(150, 150, 150, 0.6);
  margin-bottom: 0;
  cursor: pointer;
  color: #fff;
}

.card__overlay-title:hover {
  white-space: normal;
  overflow: visible;
  background-color: rgba(100, 100, 100, 0.8);
  padding-bottom: 8px;
  transition: ease-in-out 400ms;
}
