@use "../node_modules/bootstrap/dist/css/bootstrap.css";
#root {
  margin: 0 auto;
  box-sizing: border-box;
  ul {
    list-style-type: none;
  }
}

::-webkit-scrollbar {
  width: 12px;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #3e2723;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary--hover);
}
