.main-layout {
  min-height: 100vh;
  background-color: var(--primary-bg);
  main {
    padding-top: 34px;
    position: relative;
    height: calc(100vh - 72px);
    overflow: auto;
    #sideBar {
      position: absolute;
      z-index: 9;
      top: 0px;
      width: 250px;
      height: 100%;
      min-height: calc(100vh - 72px);
      overflow: auto;
      padding: 24px;
      background-color: var(--primary-text);
      .sidebar__selector {
        margin-bottom: 10px;
        color: var(--primary-text);

        ul {
          margin: 0px !important;
          padding: 0 !important;
        }
      }
      &.hide {
        left: -100%;
      }
      &.show {
        left: 0px;
      }
    }

    .main-content {
      width: 100%;
      overflow: hidden;
    }
  }
}

#appHeader {
  background-color: var(--primary-text);
  height: 72px;
  position: sticky;
  top: 0;
  text-align: center;
  align-items: center;
  z-index: 999;

  #menuBtn {
    color: var(--primary);
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: var(--primary-text);
    i {
      transition: all 0.2s;
    }
  }

  #menuBtn:hover {
    background-color: var(--primary--hover);
    color: var(--primary-bg);
    transition: all 0.5s;
  }

  a {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    color: var(--primary-bg);
  }
}
